name: tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  tests:

    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.9
      uses: actions/setup-python@v5
      with:
        python-version: "3.9"
        cache: "pip"

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y libxml2-utils libyaml-0-2
        python -m pip install --upgrade pip
        pip install .[dev]

    - name: Install Kaitai Struct Compiler
      run: |
        curl -LO https://github.com/kaitai-io/kaitai_struct_compiler/releases/download/0.10/kaitai-struct-compiler_0.10_all.deb
        sudo apt install -y ./kaitai-struct-compiler_0.10_all.deb

    - name: Format with Ruff
      run: ruff format --check --diff

    - name: Lint with Ruff
      run: ruff check

    - name: Typecheck with mypy
      run: |
        mypy --install-types --non-interactive oresat_configs
        mypy oresat_configs

    - name: Test with Python's unittest
      run: python -m unittest

    - name: Lint Yaml with yamllint
      run: yamllint oresat_configs

    - name: Test building pypi package
      run: python -m build

    - name: Test building sphinx docs
      # TZ=UTC fixes a crash when running sphinx inside nektos/act
      run: TZ=UTC make -C docs html

    - name: Test installed scripts
      run: |
        pip install dist/*.whl
        oresat-configs > /dev/null
        oresat-configs fw-files c3
        oresat-configs dcf c3
        oresat-configs od c3 > /dev/null
        oresat-configs kaitai
        oresat-configs xtce
        xmllint --noout --schema tests/SpaceSystem.xsd oresat0_5.xtce
        oresat-configs cards > /dev/null
        oresat-configs pdo c3 --list > /dev/null
        pip uninstall -y oresat-configs

    - name: Compile Kaitai
      run: ksc -t python oresat0_5.ksy
